@use "./styles/abstract/variables" as *;

.app {
  background-color: $bg-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appLogosWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 50vw;
  max-width: 500px;
}

.reactLogo,
.strapiLogo {
  width: 40%;
}

.strapiLink {
  color: $strapi-color;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .reactLogo {
    animation: react-logo-spin infinite 10s linear;
  }
}

.appContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.appLink {
  color: #e76012;
  text-decoration: none;
  cursor: pointer;
}

@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
